{% extends 'blog/blog_base.html' %}
{% load static %}
{% block blog_right %}
<div class="row">
      <div class="post-list">
          <div class="top-post">
              <ul id="category" class="ls-ul">
              {% if categories %}
                  <li><a href="{% url 'post:list' %}">All Categories</a></li>
              {% endif %}
                  {% for ca in categories %}
                      <li><a href="{{ ca.get_absolute_url }}">{{ ca.name }}</a></li>
                  {% empty %}
                      <li>还没有添加分类</li>
                  {% endfor %}
              </ul>
          </div>
{#        <div class="tag">#}
{#            <ul class="nav nav-pills border-top" role="tablist">#}
{#                <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>#}
{#                <li role="presentation"><a href="#">Profile</a></li>#}
{#                <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>#}
{#            {% for t in tags %}#}
{#                <li role="presentation"><a href="{% url 'post:tag_posts' t.pk t.name %}"><span class="tag-blue">{{ t.name }}</span> <span class="badge">{{ t.posts_count }}</span></a></li>#}
{#            {% empty %}#}
{#                <li>还没有添加标签</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{##}
{#          </div>#}
            {% block post_list %}
            {% endblock post_list %}
            {% block post_detail %}
            {% endblock %}
      </div>
    <div style="clear: both;">
        {% include 'blog/post_pagination.html' %}
    </div>
</div>
{% endblock blog_right %}