{% load static %}
<div class="row profile">
  <div class="col-md-12 profile-bg-img">

  </div>
  <div class="col-md-12 profile-content bb">
      <a href="{% url 'post:list' %}">
          <img class="img-circle bb" src="{% static 'images/my_photo.jpeg' %}" alt="my_photo" />
      </a>
      <h5>
          <a href="#">Augustine</a>
      </h5>
      <p>I'm here! This is my blog. Here I am. Hello, new begin.</p>
  </div>
</div>
<div class="row about bb">
  <h5>About</h5>
  <ul>
      <li>Programmer</li>
      <li>Live in Weihai</li>
      <li>Like Running, Reading.</li>
      <li>From Weihai Shangdong</li>
  </ul>
</div>