{% extends 'blog/blog_base.html' %}
{% load static %}
{% block blog_right %}
<div class="row">
      <div class="post-list">
          <div class="top-post">
              <ul id="category" class="top-category">
              {% if categories %}
                  <li><a href="{% url 'post:list' %}">All</a></li>
              {% endif %}
                  {% for ca in categories %}
                      <li><a href="{{ ca.get_absolute_url }}">{{ ca.name }}</a></li>
                  {% empty %}
                      <li>还没有添加分类</li>
                  {% endfor %}
              </ul>
          </div>
            {% block post_list %}
            {% endblock post_list %}
            {% block post_detail %}
            {% endblock %}
      </div>
    <div style="clear: both;">
        {% include 'blog/post_pagination.html' %}
    </div>
</div>
{% endblock blog_right %}