{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/blog/blog_base.css' %}">
{% endblock %}
{% block blog_content %}
<div class="container content">
          <div class="row">
              <div class="col-md-3">
                  {% include 'blog/blog_left.html' %}
              </div>
              <div class="col-md-8 col-md-offset-1">
              {% block blog_right %}
                  111
              {% endblock blog_right %}
              </div>
          </div>
      </div>
{% endblock %}